html, body, #map {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Verdana !important;
	font-size: 11px !important;
	color:black !important;
}

#ruta {
	position:absolute;
	top: 10px;
	left: 50px;
	z-index:1;
}

.ui-widget input {
	font-size: 11px;
}


