/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-feb-2018, 9:25:11
    Author     : root
*/
html, body, .container, .map, .list {
    margin: 0;
    padding: 0px;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.map {
    position:relative;
    width: 75%;
}

.list {
    width: 25%;
    overflow:auto;
}

.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list li {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
    background-color: #33b5e5;
    color: #ffffff;
}
.list li:hover {
    background-color: #0099cc;
    cursor: pointer;
}

.list li.selected {
    background-color: #0099cc;
    color: #ffff00;
}

.alert {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.25em;
    text-align: center;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}