@charset "utf-8";
/* CSS Document */

#outputSRS+span, #add {
	height: 34px;
}

.niveles {
	margin-left:9px;
	margin-right:9px;
}

.greybackground {
	background-color: #eee;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f1f5a2;
}
